<manifest xmlns:android="http://schemas.android.com/apk/res/android">
	<uses-feature
		android:name="android.hardware.type.watch"
		android:required="true" />

	<application
		android:allowBackup="true"
		android:icon="@mipmap/ic_launcher"
		android:roundIcon="@mipmap/ic_launcher"
		android:label="CookCue"
		android:theme="@style/AppTheme">
		<meta-data
			android:name="com.google.android.wearable.standalone"
			android:value="false" />

		<activity
			android:name=".MainActivity"
			android:exported="true">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>

		<service
			android:name=".WearDataLayerService"
			android:exported="true">
			<intent-filter>
				<action android:name="com.google.android.gms.wearable.BIND_LISTENER" />
			</intent-filter>
		</service>
	</application>
</manifest>
